{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h3>Search book</h3>

    <input
           class="form-control" type="search"
           name="search" placeholder="Begin Typing to search books..."
           hx-post="{{ path('app_profile_search_api') }}"
           hx-trigger="keyup changed delay:500ms, search"
           hx-target="#search-results"
    >

    <div id="search-results"></div>

{% endblock %}
